@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: var(--Dark-Slate-Grey);
}

.signup-card {
  width: 53rem;
  height: 35rem;
  background-color: var(--White);
  border-radius: 3rem;
  display: flex;
}

.left-side {
  width: 50%;
  height: 100%;
  padding-left: 3.9rem;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.span {
  margin-top: 0.3rem;
  font-size: 0.97rem;
}
h1 {
  font-weight: 700;
  font-size: 3rem;
}

.right-side {
  width: 50%;
  height: 100%;
  padding: 1.1rem;
  display: flex;
  justify-content: flex-end;
}

.poster {
  border-radius: 2rem;
}

.poster-mobile {
  display: none;
}

ul {
  list-style: none;
  height: 22%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

li {
  display: flex;
  align-items: center;
}
li > img {
  padding-right: 0.5rem;
}
p {
  font-weight: 700;
  font-size: 0.8rem;
  padding-bottom: 0.5rem;
  padding-left: 0.2rem;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 32%;
}

label > p {
  width: 94%;
  display: flex;
  justify-content: space-between;
}

label > p > span {
  color: var(--Tomato);
  font-weight: 700;
}

.input {
  background: none;
  border: none;
  border: 0.15rem solid var(--Grey);
  border-radius: 0.5rem;
  height: 3.5rem;
  width: 95%;
  padding: 1rem;
  outline: none;
  color: var(--Dark-Slate-Grey);
}

.input::placeholder {
  color: var(--Grey);
}

.input-error {
  background: rgba(254, 148, 148, 0.688);
  border: var(--Tomato) solid 0.15rem;
  border-radius: 0.5rem;
  height: 3.5rem;
  width: 95%;
  padding: 1rem;
  outline: none;
  color: var(--Tomato);
}
button {
  border-radius: 0.5rem;
  border: none;
  height: 3.5rem;
  width: 95%;
  background: var(--Dark-Slate-Grey);
  color: var(--White);
  font-weight: 700;
}

button:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(255, 106, 58, 1) 0%,
    rgba(255, 82, 123, 1) 100%
  );
  box-shadow: rgba(255, 82, 122, 0.554) 0.2rem 0.2rem 0.2rem;
}

.subscribed-card {
  width: 28rem;
  height: 25rem;
  background-color: var(--White);
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 2rem 2rem 3.5rem;
}

.subscribed-card > img {
  width: 3rem;
}

.subscribed-card > p {
  font-weight: normal;
  line-height: 1.7;
  width: 90%;
}

.mail-bold {
  font-weight: 700;
}

@media screen and (max-width: 375px) {
  .signup-card {
    flex-direction: column-reverse;
    height: 100vh;
    border-radius: 0;
  }
  .left-side {
    height: 70%;
    padding: 0;
    margin: 0 auto;
    width: 90%;
    border-radius: 0;
  }

  .right-side {
    padding: 0;
    height: 30%;
    width: 100%;
    background-image: url(./assets/img/illustration-sign-up-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  .poster {
    display: none;
  }

  ul {
    height: 25%;
  }
  li {
    align-items: flex-start;
  }

  .subscribed-card {
    height: 100vh;
    border-radius: 0;
    justify-content: center;
    gap: 1rem;
  }

  .subscribed-card > img {
    margin-top: 3rem;
  }
  .subscribed-card > p {
    margin-bottom: 11rem;
  }
}
